<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Document</title>
    <script src="products.js"></script>
</head>
<body>
    <div id="app">
        <div class="navbar">
            <div class="name">
                <p>BRAIN EXCERSICE</p>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <button>Search</button>
            </div>
            <div class="carticon" v-on:click="showCheckout">
                <p>{{cartItemCount}}</p>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <div style="display: flex; height: 100vh; width: 100%; background-color:black;">
            <div class="filter" style="width: 20%; height: 100%; background-color: #dad7ca; overflow: auto; padding: 2%;">
                <p>Sort BY:
                </p>
                <!-- <div style="padding: 2%;"> <p>Hello</p> </div> -->
            </div> 
            <div class="products" style="width: 80%; height:100%; background-color: #dad7ca; overflow: auto; padding: 2%;">
                <div>
                    <header>
                        <h1 v-text="sitename" style="text-align: center; padding-bottom: 10px;"></h1>
            
                        <!-- <button v-on:click="showCheckout"> -->
                            <!-- {{cartItemCount}} -->
                            <!-- <span class="fas fa-cart-arrow-down"></span> Checkout
                        </button> -->
                    </header>
                    <main>
                        <div class="productblock" style="padding-top: 10px; ">
                            <div v-if="showProduct" style="padding-left: 15px; display: flex; flex-wrap: wrap;">
                                <div v-for="product in products" style="margin: 2%; background-color: #a3b18a; padding: 2%; border-radius: 2%; width: 20%;">
                                <figure>
                                    <img v-bind:src="product.image" height="100px" width="100px">
                                </figure>
                                <h2 v-text="product.title"></h2>
                                <p v-text="product.description" ></p>
                                <br>
                                <p>Price: {{product.price}} </p>
                                <br>
                                <p>Available Inventory: {{product.availableInventory - cartCount(product.id)}}</p>
                                <!-- vue v-show by default takes true values -->
                                <!-- <button v-on:click = "addToCart" v-show="canAddToCart">
                                    Add to cart
                                </button> -->
                                <!-- This button will be displayed when canAddToCart is true -->
                                <br>
                                <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">
                                    Add to Cart
                                </button>
                                <!-- This button will be displayed if it is false -->
                                <button disabled="disabled" v-else>
                                    Add to Cart
                                </button>
                                <span v-if='product.availableInventory === cartCount(product.id)'>All out!</span>
                                <span v-else-if="product.availableInventory - cartCount(product.id)<10">
                                    Only {{product.availableInventory - cartCount(product.id)}} left!
                                </span><span v-else>Buy now!</span>
                                <div style="padding-left: 15px;">
                                    <span v-for="n in product.rating">★</span>
                                    <span v-for="n in 5-product.rating">☆</span>
                                </div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="cart-items">
                                <div v-for="product in cartProducts" style="margin: 2%; background-color: #a3b18a; padding: 2%; border-radius: 2%; width: 20%;">
                                    <figure>
                                        <img v-bind:src="product.image" height="100px" width="100px">
                                    </figure>
                                    <h2 v-text="product.title"></h2>
                                    <p v-text="product.description" ></p>
                                    <br>
                                    <p>Price: {{product.price}} </p>
                                    <br>
                                    <p>Quantity: {{cartCount(product.id)}}</p>
                                    <!-- vue v-show by default takes true values -->
                                    <!-- <button v-on:click = "addToCart" v-show="canAddToCart">
                                        Add to cart
                                    </button> -->
                                    <!-- This button will be displayed when canAddToCart is true -->
                                    
                                    <div style="padding-left: 15px;">
                                        <span v-for="n in product.rating">★</span>
                                        <span v-for="n in 5-product.rating">☆</span>
                                    </div>
                                </div>
                                </div>
                                <div class="checkout" style="margin: 2%; background-color: #a3b18a; padding: 2%; border-radius: 2%; width: 80%;">
                                <h2 style="text-align: center;">Checkout</h2>
                                <p>
                                    <strong>First Name: </strong>
                                    <!-- this input field is bound to firstname in the order object -->
                                    <input v-model.trim = "order.firstName"/>
                                </p>
                                <p>
                                    <strong>Last Name: </strong>
                                    <!-- this input field is bound to lastname in the order object -->
                                    <input v-model.trim = "order.lastName">
                                </p>
                                <p><strong>Address: </strong> <input v-model = "order.address"></p>
                                <p><strong>City: </strong> <input v-model = "order.city"></p>
                                <p>
                                    <strong>State: </strong>
                                    <select v-model = "order.state">
                                        <option disabled value="">State</option>
                                        <option v-for="(state,key) in states" v-bind:value="state">{{key}}</option>
                                        <!-- <option v-bind:value="states.AL">AL</option>
                                        <option v-bind:value="states.AR">AR</option>
                                        <option v-bind:value="states.CA">CA</option>
                                        <option v-bind:value="states.NV">NV</option> -->
                                    </select>
                                </p>
                                <p><strong>Zip/Postal Code: </strong> <input v-model.number = "order.zip" type="number"></p>
                                <p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                                    <label for="gift">Ship as Gift?</label>
                                </p>
                                <p><input type="radio" id="home" value="Home" v-model="order.method">
                                    <label for="home">Home</label>
                                    <input type="radio" id="business" value="Business" v-model="order.method">
                                    <label for="business">Business</label>
                                </p>
                                <button v-on:click="placeOrder" style="justify-content: center;">Place Order</button>
                            </div>
                            <div v-if="orderPlaced">
                                <h2>Order Information</h2>
                                <p>First Name: {{order.firstName}}</p>
                                <p>Last Name: {{order.lastName}}</p>
                                <p>Address: {{order.address}}</p>
                                <p>City: {{order.city}}</p>
                                <p>State: {{order.state}}</p>
                                <p>Zip/Postal Code: {{order.zip}}</p>
                                <p>Gift:{{order.gift}}</p>
                                <p>Method: {{order.method}}</p>
                            </div>
                            </div>
                        </div>
                </div>
             </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    // new Vue is the constructor
    // ({ option object goes here })
    // option objects are all the pre defined keys like el, data and methods and it is written as JSON
    let webstore = new Vue({
        // specifies the Document Object Model (DOM)
        el: "#app",
        data: {
            showProduct: true,
            sitename: "COURSES",
            order: {
                firstName: "",
                lastName: "", 
                address: "",
                city: "",
                zip: "",
                state: "",
                method:'Home',
                gift: false,
                sendGift:"send as gift",
                dontSendGift: "dont send as a gift"
            },
            products: products,
            states:{
                AL:'Alabama',
                AR:'Arizona',
                CA:'California',
                NV:'Nevada'
            },
            cart: []
        },
        methods: {
            addToCart: function(product) {
                this.cart.push(product.id);
                // this.product.availableInventory--;
            },
            canAddToCart: function (product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
            showCheckout: function () {
                // ? is a ternery operator
                // ? helps shifting between pages works like the toggle button when true it will be product page and 
                // when false it will be checkout page
                // alert('EHllo')
                this.showProduct = this.showProduct ? false : true;
                this.sitename = this.showProduct ? "COURSES" : "Cart"
            },
            placeOrder: function(){
                this.orderPlaced = true;
                alert("Order Submitted!!!!")
            },
            cartCount(id){
                    let count = 0;
                    for (let i=0; i< this.cart.length; i++){
                        if (this.cart[i] === id){
                            count++
                        }
                    }
                    return count;
                }
        },
        computed: {
            cartItemCount: function () {
                return this.cart.length || " ";
            },
            sortedProducts(){
                    let productsArray = this.products.slice(0);
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                        return productsArray.sort(compare);
            },
            cartProducts(){
                let productsArray = this.products.slice(0);
                let cartProducts = [];
                for(let i = 0; i<productsArray.length;i++){
                    for(let j = 0; j<this.cart.length;j++){
                        if(productsArray[i].id == this.cart[j]){
                            cartProducts.push(productsArray[i])
                            // break;
                        }else{
                            continue;
                        }
                    }
                }
                return cartProducts;
            },
            inventoryCount: function() {
                return this.product.availableInventory - this.cartItemCount;
            }
        }
    });
     
</script>
<script>
    function hello(){
        alert('HEllo')
    }
</script>
</html>